@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

h2{
  padding-bottom: 4px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 8rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 40px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}



button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.logouttext{
  color: #FFFFFF;
  font-size: 24px;
}

.userstext{
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 20px;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #666666;
}

.lgtlink{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
}

#recentposts
{
  font-family: Montserrat-Bold;
  font-size: 36px;
  color: #333333;

  text-align: center;

  width: 100%;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.posts{
  display: block;
  text-align: left;
}

#p-uname{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  color: #4158d0;
}
#p-msg{
  font-size: 24px;
  color: #20004a;
}
#p-dt{
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #636363;
}


.limiter {

  width: 100%;
  margin: 0;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}


.wrap-login100 {
  width: 80%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 8%;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 80px 50px 80px;
}


.login100-pic {
  height: 300px;
  display: block;
  margin-left: 75px;
  margin-bottom: 75px;
  margin-top: 25px;
}

img {
  max-height: 100%;
}

.login100-form {
  width: 450px;
  margin-top: 70px;
  margin-left: 40px;
}

.login100-form-2 {
  width: 450px;
  margin-top: 100px;
  margin-left: 40px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 60px;
  color: #00012e;

  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 50px;
}

.whatsonmind {
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;

  text-align: center;

  width: 100%;
  display: block;
}

.profile-list{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.choose{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

#searchsubmit{
  color: white;
  text-align: center;
  font-family: Poppins-Bold;
  background-color: #0062ff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
input[type=text]
{
  border-radius: 7px;
  background-color: #ECECEC;
  margin-left: auto;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  height: 50px;
}

.text-center
{
  padding-top: 0px;
}



.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}



.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@media (max-width: 1000px) {

  .limiter {

    width: 100%;
    margin: auto;
  }
  .wrap-login100 {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 20%;
    margin-bottom: 10%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 80px 50px 80px;
  }

  .lgtlink{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
  }

  #searchsubmit{
    color: white;
    text-align: center;
    font-family: Poppins-Bold;
    background-color: #0062ff;
    border-radius: 5px;
    width: 100%;
    height: 40px;
  }
  input[type=text]
  {
    border-radius: 7px;
    background-color: #ECECEC;
    margin-left: auto;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 50px;
  }
}
